<a href="https://colab.research.google.com/github/sanchalee19/ML-sem-6/blob/main/Iris(ass4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### NAIVE BAYES ON IRIS DATASET

In [ ]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
iris = sns.load_dataset('iris')

In [ ]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### STEP 1:  SLICING

In [ ]:
x = iris.iloc[:, :4].values
y = iris['species'].values

In [ ]:
x

In [ ]:
y

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica'], dtype=object)

### STEP 2: TRAIN TEST SPLIT

In [ ]:
x_train ,x_test , y_train, y_test = train_test_split(x, y , test_size=0.2)

In [ ]:
x_train.shape

(120, 4)

In [ ]:
y_train.shape

(120,)

### STEP 3: SCALING

In [ ]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

### STEP 4: Training the Naive Bayes Classification model on the Training Set

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(x_train, y_train)

GaussianNB()

### STEP 5: PREDICTING THE TEST RESULTS

In [ ]:
y_pred = classifier.predict(x_test)
y_pred

array(['setosa', 'versicolor', 'virginica', 'virginica', 'versicolor',
       'versicolor', 'setosa', 'setosa', 'versicolor', 'virginica',
       'versicolor', 'virginica', 'setosa', 'setosa', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'versicolor', 'setosa',
       'versicolor', 'setosa', 'versicolor', 'setosa', 'virginica',
       'virginica', 'virginica', 'versicolor', 'versicolor', 'setosa'],
      dtype='<U10')

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [ ]:
from sklearn.metrics import accuracy_score
print("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  0.9333333333333333

array([[ 9,  0,  0],
       [ 0, 12,  1],
       [ 0,  1,  7]], dtype=int64)

In [ ]:
iris = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
iris

   Real Values Predicted Values
0       setosa           setosa
1   versicolor       versicolor
2    virginica        virginica
3    virginica        virginica
4   versicolor       versicolor
5   versicolor       versicolor
6       setosa           setosa
7       setosa           setosa
8   versicolor       versicolor
9    virginica        virginica
10  versicolor       versicolor
11   virginica        virginica
12      setosa           setosa
13      setosa           setosa
14  versicolor       versicolor
15  versicolor        virginica
16   virginica       versicolor
17  versicolor       versicolor
18  versicolor       versicolor
19      setosa           setosa
20  versicolor       versicolor
21      setosa           setosa
22  versicolor       versicolor
23      setosa           setosa
24   virginica        virginica
25   virginica        virginica
26   virginica        virginica
27  versicolor       versicolor
28  versicolor       versicolor
29      setosa           setosa