<a href="https://colab.research.google.com/github/sanchalee19/ML-sem-6/blob/main/titanicEDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## EDA ON TITANIC DATASET : Predicting whether a person survived or not

In [29]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
from sklearn.model_selection import train_test_split

In [3]:
df = sns.load_dataset('titanic')

In [4]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## DELETING USELESS COLUMNS

In [5]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [6]:
# dropping 'who' because its the same as gender and embarked_town = embarked, alive = survived , class = pclass
df.drop(columns=['who', 'embark_town', 'alive', 'class'], inplace=True)

In [7]:
df.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,adult_male,deck,alone
0,0,3,male,22.0,1,0,7.2500,S,True,NaN,False
1,1,1,female,38.0,1,0,71.2833,C,False,C,False
2,1,3,female,26.0,0,0,7.9250,S,False,NaN,True
3,1,1,female,35.0,1,0,53.1000,S,False,C,False
4,0,3,male,35.0,0,0,8.0500,S,True,NaN,True
5,0,3,male,NaN,0,0,8.4583,Q,True,NaN,True
6,0,1,male,54.0,0,0,51.8625,S,True,E,True
7,0,3,male,2.0,3,1,21.0750,S,False,NaN,False
8,1,3,female,27.0,0,2,11.1333,S,False,NaN,False
9,1,2,female,14.0,1,0,30.0708,C,False,NaN,False

### Description of variables:
......
......

## DEALING WITH NULL VALUES

In [8]:
df.isna().sum()

survived        0
pclass          0
sex             0
age           177
sibsp           0
parch           0
fare            0
embarked        2
adult_male      0
deck          688
alone           0
dtype: int64

### Conclusions, null values are in:
1. age
2. embarked
3. deck

In [9]:
# Replace missing age values with the median age
median_age = df['age'].median()
df['age'].fillna(median_age, inplace=True)

In [10]:
# Calculate the mode of the 'Embarked' column
mode_embarked = df['embarked'].mode()[0]

# Replace missing values with the mode
df['embarked'].fillna(mode_embarked, inplace=True)

In [11]:
# Calculate the percentage of missing values in the 'Deck' column
missing_percentage = (df['deck'].isnull().sum() / len(df['deck'])) * 100

print(f"Percentage of missing values in 'Deck': {missing_percentage:.2f}%")

Percentage of missing values in 'Deck': 77.22%

In [12]:
df.drop(columns = 'deck', inplace = True)

In [13]:
df.isna().sum()

survived      0
pclass        0
sex           0
age           0
sibsp         0
parch         0
fare          0
embarked      0
adult_male    0
alone         0
dtype: int64

## DEALING WITH CATEGORICAL VALUES
sex, embarked, adult_male, alone. Label encoding for sex, adult_male,
 alone one hot encoding for embarked.

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   survived    891 non-null    int64
 1   pclass      891 non-null    int64
 2   sex         891 non-null    object
 3   age         891 non-null    float64
 4   sibsp       891 non-null    int64
 5   parch       891 non-null    int64
 6   fare        891 non-null    float64
 7   embarked    891 non-null    object
 8   adult_male  891 non-null    bool
 9   alone       891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(2)
memory usage: 57.6+ KB

In [18]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,adult_male,alone
0,0,3,male,22.0,1,0,7.2500,S,True,False
1,1,1,female,38.0,1,0,71.2833,C,False,False
2,1,3,female,26.0,0,0,7.9250,S,False,True
3,1,1,female,35.0,1,0,53.1000,S,False,False
4,0,3,male,35.0,0,0,8.0500,S,True,True

In [19]:
LE = LabelEncoder()

In [24]:
df['sex']= LE.fit_transform(df['sex'])

In [25]:
df['adult_male'] = LE.fit_transform(df['adult_male'])

In [26]:
df['alone'] = LE.fit_transform(df['alone'])

In [27]:
df['embarked'] = LE.fit_transform(df['embarked'])

In [32]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,adult_male,alone
0,0,3,1,22.0,1,0,7.2500,2,1,0
1,1,1,0,38.0,1,0,71.2833,0,0,0
2,1,3,0,26.0,0,0,7.9250,2,0,1
3,1,1,0,35.0,1,0,53.1000,2,0,0
4,0,3,1,35.0,0,0,8.0500,2,1,1
...,...,...,...,...,...,...,...,...,...,...
886,0,2,1,27.0,0,0,13.0000,2,1,1
887,1,1,0,19.0,0,0,30.0000,2,0,1
888,0,3,0,28.0,1,2,23.4500,2,0,0
889,1,1,1,26.0,0,0,30.0000,0,1,1
890,0,3,1,32.0,0,0,7.7500,1,1,1

## SCALING

## SPLITTING INTO DEPENDENT AND INDEPENDENT

In [14]:
X = df.values[: , [1,9]]         # everything except survived
y = df.values[:, [0]]            # survived

In [15]:
X

array([[3, False],
       [1, False],
       [3, True],
       ...,
       [3, False],
       [1, True],
       [3, True]], dtype=object)

In [ ]:
y

..

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 100)